# Lab 3 Data Analysis
Group: IP-91

Var: 6

Students:
- Geleshko D.
- Vlasov A.

## Import

In [101]:
import pandas as pd
import numpy as np

## Config

In [102]:
np.random.seed(6)

plt.rcParams["figure.figsize"] = (20, 8)
# pd.set_option("display.max_columns", None)
pd.options.display.float_format ="{:,.3f}".format

# Reading data from .csv file

In [103]:
df = pd.read_csv("../data/Birthweight.csv")
df.columns = df.columns.map(lambda x: str.lower(x))
df.set_index("id", inplace=True)
df

,length,birthweight,headcirc,gestation,smoker,mage,mnocig,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35
id,,,,,,,,,,,,,,,
1360,56,4.550,34,44,0,20,0,162,57,23,10,35,179,0,0
1016,53,4.320,36,40,0,19,0,171,62,19,12,0,183,0,0
462,58,4.100,39,41,0,35,0,172,58,31,16,25,185,0,1
1187,53,4.070,38,44,0,20,0,174,68,26,14,25,189,0,0
553,54,3.940,37,42,0,24,0,175,66,30,12,0,184,0,0
1636,51,3.930,38,38,0,29,0,165,61,31,16,0,180,0,0
820,52,3.770,34,40,0,24,0,157,50,31,16,0,173,0,0
1191,53,3.650,33,42,0,21,0,165,61,21,10,25,185,0,0
1081,54,3.630,38,38,0,18,0,172,50,20,12,7,172,0,0
822,50,3.420,35,38,0,20,0,157,48,22,14,0,179,0,0
1683,53,3.350,33,41,0,27,0,164,62,37,14,0,170,0,0
1088,51,3.270,36,40,0,24,0,168,53,29,16,0,181,0,0
1107,52,3.230,36,38,0,31,0,164,57,35,16,0,183,0,0
755,53,3.200,33,41,0,21,0,155,55,25,14,25,183,0,0
1058,53,3.150,34,40,0,29,0,167,60,30,16,25,182,0,0
321,48,3.110,33,37,0,28,0,158,54,39,10,0,171,0,0
697,48,3.030,35,39,0,27,0,162,62,27,14,0,178,0,0
808,48,2.920,33,34,0,26,0,167,64,25,12,25,175,0,0
1600,53,2.900,34,39,0,19,0,165,57,23,14,2,193,0,0
1313,43,2.650,32,33,0,24,0,149,45,26,16,0,169,1,0
792,53,3.640,38,40,1,20,2,170,59,24,12,12,185,0,0
1388,51,3.140,33,41,1,22,7,160,53,24,16,12,176,0,0
575,50,2.780,30,37,1,19,7,165,60,20,14,0,183,0,0
569,50,2.510,35,39,1,22,7,159,52,23,14,25,200,1,0
1363,48,2.370,30,37,1,20,7,163,47,20,10,35,185,1,0
300,46,2.050,32,35,1,41,7,166,57,37,14,25,173,1,1
431,48,1.920,30,33,1,20,7,161,50,20,10,35,180,1,0
1764,58,4.570,39,41,1,32,12,173,70,38,14,25,180,0,0
532,53,3.590,34,40,1,31,12,163,49,41,12,50,191,0,0
752,49,3.320,36,40,1,27,12,152,48,37,12,25,170,0,0
1023,52,3.000,35,38,1,30,12,165,64,38,14,50,180,0,0
57,51,3.320,38,39,1,23,17,157,48,32,12,25,169,0,0
1522,50,2.740,33,39,1,21,17,156,53,24,12,7,179,0,0
223,50,3.870,33,45,1,28,25,163,54,30,16,0,183,0,0
272,52,3.860,36,39,1,30,25,170,78,40,16,50,178,0,0
27,53,3.550,37,41,1,37,25,161,66,46,16,0,175,0,1
365,52,3.530,37,40,1,26,25,170,62,30,10,25,181,0,0
619,52,3.410,33,39,1,23,25,181,69,23,16,2,181,0,0
1369,49,3.180,34,38,1,31,25,162,57,32,16,50,194,0,0
1262,53,3.190,34,41,1,27,35,163,51,31,16,25,185,0,0
516,47,2.660,33,35,1,20,35,170,57,23,12,50,186,1,0
1272,53,2.750,32,40,1,37,50,168,61,31,16,0,173,0,1

# Task 1:

## Take pd.Series from pd.DataFrame and set custom pd.Index

In [104]:
#sl = pd.Series(df["birthweight"].values, index=pd.Index(df["id"].values))
sl = df["birthweight"].astype(np.float32).copy()
type(sl)

pandas.core.series.Series

## Using iloc

In [105]:
sl.iloc[0: 8]

id
1360   4.550
1016   4.320
462    4.100
1187   4.070
553    3.940
1636   3.930
820    3.770
1191   3.650
Name: birthweight, dtype: float32

## Using loc

In [106]:
sl.loc[1360:553]

id
1360   4.550
1016   4.320
462    4.100
1187   4.070
553    3.940
Name: birthweight, dtype: float32

# Task 2

## Creating new column, based on other columns in existing pd.DataFrame

In [107]:
df["parsmoke"] = (df["mnocig"] > 0) & (df["fnocig"] > 0)
df[::8]

,length,birthweight,headcirc,gestation,smoker,mage,mnocig,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35,parsmoke
id,,,,,,,,,,,,,,,,
1360,56,4.550,34,44,0,20,0,162,57,23,10,35,179,0,0,False
1081,54,3.630,38,38,0,18,0,172,50,20,12,7,172,0,0,False
697,48,3.030,35,39,0,27,0,162,62,27,14,0,178,0,0,False
1363,48,2.370,30,37,1,20,7,163,47,20,10,35,185,1,0,True
1522,50,2.740,33,39,1,21,17,156,53,24,12,7,179,0,0,True
516,47,2.660,33,35,1,20,35,170,57,23,12,50,186,1,0,True

# Task 3

## Adding pd.MultiIndex to existing pd.DataFrame

In [108]:
# save current index to "id"
df["id"] = df.index
# reaplce index with "geadcirc" and append "length" as index, then sort
df.set_index("headcirc", inplace=True)
df.set_index("length", append=True, inplace=True)
df.set_index("id", append=True, inplace=True)
df.sort_index(inplace=True)
df

                      birthweight  gestation  smoker  mage  mnocig  mheight  \
headcirc length id
30       48     431         1.920         33       1    20       7      161
                1363        2.370         37       1    20       7      163
         50     575         2.780         37       1    19       7      165
32       43     1313        2.650         33       0    24       0      149
         46     300         2.050         35       1    41       7      166
         53     1272        2.750         40       1    37      50      168
33       47     516         2.660         35       1    20      35      170
         48     321         3.110         37       0    28       0      158
                808         2.920         34       0    26       0      167
         50     223         3.870         45       1    28      25      163
                1522        2.740         39       1    21      17      156
         51     1388        3.140         41       1    22       7      160
         52     619         3.410         39       1    23      25      181
         53     755         3.200         41       0    21       0      155
                1191        3.650         42       0    21       0      165
                1683        3.350         41       0    27       0      164
34       49     1369        3.180         38       1    31      25      162
         52     820         3.770         40       0    24       0      157
         53     532         3.590         40       1    31      12      163
                1058        3.150         40       0    29       0      167
                1262        3.190         41       1    27      35      163
                1600        2.900         39       0    19       0      165
         56     1360        4.550         44       0    20       0      162
35       48     697         3.030         39       0    27       0      162
         50     569         2.510         39       1    22       7      159
                822         3.420         38       0    20       0      157
         52     1023        3.000         38       1    30      12      165
36       49     752         3.320         40       1    27      12      152
         51     1088        3.270         40       0    24       0      168
         52     272         3.860         39       1    30      25      170
                1107        3.230         38       0    31       0      164
         53     1016        4.320         40       0    19       0      171
37       52     365         3.530         40       1    26      25      170
         53     27          3.550         41       1    37      25      161
         54     553         3.940         42       0    24       0      175
38       51     57          3.320         39       1    23      17      157
                1636        3.930         38       0    29       0      165
         53     792         3.640         40       1    20       2      170
                1187        4.070         44       0    20       0      174
         54     1081        3.630         38       0    18       0      172
39       58     462         4.100         41       0    35       0      172
                1764        4.570         41       1    32      12      173

                      mppwt  fage  fedyrs  fnocig  fheight  lowbwt  mage35  \
headcirc length id
30       48     431      50    20      10      35      180       1       0
                1363     47    20      10      35      185       1       0
         50     575      60    20      14       0      183       0       0
32       43     1313     45    26      16       0      169       1       0
         46     300      57    37      14      25      173       1       1
         53     1272     61    31      16       0      173       0       1
33       47     516      57    23      12      50      186       1       0
         48     321      54    39      10       0      171       0       0
                808      64    25      12      25      175       0       0
         50     223      54    30      16       0      183       0       0
                1522     53    24      12       7      179       0       0
         51     1388     53    24      16      12      176       0       0
         52     619      69    23      16       2      181       0       0
         53     755      55    25      14      25      183       0       0
                1191     61    21      10      25      185       0       0
                1683     62    37      14       0      170       0       0
34       49     1369     57    32      16      50      194       0       0
         52     820      50    31      16       0      173       0       0
         53     532      49    41      12      50      191       0       0
                1058     60    30      16      25      182       0       0
                1262     51    31      16      25      185       0       0
                1600     57    23      14       2      193       0       0
         56     1360     57    23      10      35      179       0       0
35       48     697      62    27      14       0      178       0       0
         50     569      52    23      14      25      200       1       0
                822      48    22      14       0      179       0       0
         52     1023     64    38      14      50      180       0       0
36       49     752      48    37      12      25      170       0       0
         51     1088     53    29      16       0      181       0       0
         52     272      78    40      16      50      178       0       0
                1107     57    35      16       0      183       0       0
         53     1016     62    19      12       0      183       0       0
37       52     365      62    30      10      25      181       0       0
         53     27       66    46      16       0      175       0       1
         54     553      66    30      12       0      184       0       0
38       51     57       48    32      12      25      169       0       0
                1636     61    31      16       0      180       0       0
         53     792      59    24      12      12      185       0       0
                1187     68    26      14      25      189       0       0
         54     1081     50    20      12       7      172       0       0
39       58     462      58    31      16      25      185       0       1
                1764     70    38      14      25      180       0       0

                      parsmoke
headcirc length id
30       48     431       True
                1363      True
         50     575      False
32       43     1313     False
         46     300       True
         53     1272     False
33       47     516       True
         48     321      False
                808      False
         50     223      False
                1522      True
         51     1388      True
         52     619       True
         53     755      False
                1191     False
                1683     False
34       49     1369      True
         52     820      False
         53     532       True
                1058     False
                1262      True
                1600     False
         56     1360     False
35       48     697      False
         50     569       True
                822      False
         52     1023      True
36       49     752       True
         51     1088     False
         52     272       True
                1107     False
         53     1016     False
37       52     365       True
         53     27       False
         54     553      False
38       51     57        True
                1636     False
         53     792       True
                1187     False
         54     1081     False
39       58     462      False
                1764      True

## Accesing data using MultiIndex

In [109]:
ref51 = df.loc[:, 51, :]
ref51

                      birthweight  gestation  smoker  mage  mnocig  mheight  \
headcirc length id
33       51     1388        3.140         41       1    22       7      160
36       51     1088        3.270         40       0    24       0      168
38       51     57          3.320         39       1    23      17      157
                1636        3.930         38       0    29       0      165

                      mppwt  fage  fedyrs  fnocig  fheight  lowbwt  mage35  \
headcirc length id
33       51     1388     53    24      16      12      176       0       0
36       51     1088     53    29      16       0      181       0       0
38       51     57       48    32      12      25      169       0       0
                1636     61    31      16       0      180       0       0

                      parsmoke
headcirc length id
33       51     1388      True
36       51     1088     False
38       51     57        True
                1636     False

In [110]:
ref51[ref51["birthweight"] < 3.3]

,,,birthweight,gestation,smoker,mage,mnocig,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35,parsmoke
headcirc,length,id,,,,,,,,,,,,,,
33,51,1388,3.140,41,1,22,7,160,53,24,16,12,176,0,0,True
36,51,1088,3.270,40,0,24,0,168,53,29,16,0,181,0,0,False

## Aggregarion by levels of MultiIndex

In [111]:
df.groupby(level=["headcirc", "length"])[["birthweight", "gestation"]].aggregate([sum, np.mean])

                birthweight       gestation
                        sum  mean       sum   mean
headcirc length
30       48           4.290 2.145        70 35.000
         50           2.780 2.780        37 37.000
32       43           2.650 2.650        33 33.000
         46           2.050 2.050        35 35.000
         53           2.750 2.750        40 40.000
33       47           2.660 2.660        35 35.000
         48           6.030 3.015        71 35.500
         50           6.610 3.305        84 42.000
         51           3.140 3.140        41 41.000
         52           3.410 3.410        39 39.000
         53          10.200 3.400       124 41.333
34       49           3.180 3.180        38 38.000
         52           3.770 3.770        40 40.000
         53          12.830 3.208       160 40.000
         56           4.550 4.550        44 44.000
35       48           3.030 3.030        39 39.000
         50           5.930 2.965        77 38.500
         52           3.000 3.000        38 38.000
36       49           3.320 3.320        40 40.000
         51           3.270 3.270        40 40.000
         52           7.090 3.545        77 38.500
         53           4.320 4.320        40 40.000
37       52           3.530 3.530        40 40.000
         53           3.550 3.550        41 41.000
         54           3.940 3.940        42 42.000
38       51           7.250 3.625        77 38.500
         53           7.710 3.855        84 42.000
         54           3.630 3.630        38 38.000
39       58           8.670 4.335        82 41.000

# Task 4

## Generating data

In [112]:
# shared column
name_id = np.random.randint(0, 1000, size=(150))

In [113]:
df1 = pd.DataFrame(index=range(0, 100))
df1["name_id"] = name_id[0:100]
df1["weight"] = np.random.normal(3, 1, size=(100))
df1["height"] = np.random.normal(50, 2, size=(100))
df1

    name_id  weight  height
0       906   3.444  49.841
1       713   2.143  51.745
2       227   3.447  50.557
3       980   1.985  49.145
4       618   0.868  49.880
..      ...     ...     ...
95       70   2.195  51.338
96      129   3.783  53.207
97        9   2.507  48.040
98      124   2.180  48.898
99      944   3.139  48.178

[100 rows x 3 columns]

In [114]:
df2 = pd.DataFrame(index=range(50, 150))
df2["name_id"] = name_id[50:150]
df2["weight_at_10"] = np.random.normal(32, 2, size=(100))
df2["height_at_10"] = np.random.normal(135, 10, size=(100))
df2

     name_id  weight_at_10  height_at_10
50       636        33.243       113.963
51       284        34.665       139.397
52       555        32.141       137.471
53        57        32.904       146.507
54       901        31.156       143.111
..       ...           ...           ...
145      974        30.014       135.761
146      213        33.178       130.265
147      575        32.656       138.030
148      876        36.089       120.390
149      172        33.752       127.391

[100 rows x 3 columns]

## Merge: Inner

In [115]:
df_inner = pd.merge(df1, df2, how="inner", left_index=True, right_index=True, suffixes=(None, "_copy")).drop("name_id_copy", axis=1)
df_inner

    name_id  weight  height  weight_at_10  height_at_10
50      636   3.643  47.258        33.243       113.963
51      284   2.552  47.863        34.665       139.397
52      555   5.339  48.939        32.141       137.471
53       57   2.687  52.274        32.904       146.507
54      901   2.940  52.374        31.156       143.111
55      306   3.194  53.382        31.340       128.474
56      538   3.287  50.981        32.328       133.253
57      846   3.052  47.109        35.169       147.401
58      119   3.052  48.514        33.035       128.732
59      808   2.780  47.692        33.117       137.768
60      965   2.447  49.485        34.237       125.877
61      326   2.626  52.754        33.376       147.417
62      234   1.816  49.642        30.649       147.672
63      730   2.472  49.139        35.569       136.862
64       63   2.336  51.058        31.817       126.532
65      778   2.566  51.467        32.122       131.126
66      835   2.555  51.933        31.934       134.042
67      341   2.858  48.129        33.293       132.553
68      907   3.452  48.244        31.653       138.553
69      129   2.691  49.089        32.822       121.129
70       82   3.091  51.486        35.509       123.068
71      931   3.270  50.387        30.506       126.282
72      918   2.686  48.057        28.360       144.173
73      553   2.855  53.794        34.633       123.775
74      123   3.355  48.913        32.605       136.955
75      873   1.301  49.752        33.427       144.126
76      536   3.657  49.807        33.474       120.860
77      944   2.528  48.360        31.328       116.085
78       42  -0.690  49.929        32.420       116.610
79      963   3.534  50.113        28.612       140.009
80      903   1.799  50.524        31.871       138.804
81      548   3.892  50.631        32.203       132.751
82       75   2.015  48.934        29.688       124.557
83      952   2.789  48.149        30.639       135.316
84      545   3.666  52.188        31.770       119.426
85      972   2.204  49.564        32.654       139.396
86      882   2.005  52.195        31.663       135.053
87       68   2.886  50.907        34.786       134.638
88      929   4.370  55.366        33.488       148.872
89      783   4.100  49.808        33.628       124.268
90      197   4.401  46.692        28.487       123.527
91      303   3.385  49.369        31.200       139.008
92      125   3.488  52.423        32.405       145.747
93      917   4.070  53.802        31.245       125.111
94      251   3.569  53.502        32.457       124.305
95       70   2.195  51.338        30.864       132.970
96      129   3.783  53.207        30.330       140.481
97        9   2.507  48.040        31.902       127.081
98      124   2.180  48.898        32.175       144.275
99      944   3.139  48.178        31.413       155.835

## Merge: Left

In [116]:
df_left = pd.merge(df1, df2, how="left", left_index=True, right_index=True, suffixes=(None, "_copy")).drop("name_id_copy", axis=1)
df_left

    name_id  weight  height  weight_at_10  height_at_10
0       906   3.444  49.841           NaN           NaN
1       713   2.143  51.745           NaN           NaN
2       227   3.447  50.557           NaN           NaN
3       980   1.985  49.145           NaN           NaN
4       618   0.868  49.880           NaN           NaN
..      ...     ...     ...           ...           ...
95       70   2.195  51.338        30.864       132.970
96      129   3.783  53.207        30.330       140.481
97        9   2.507  48.040        31.902       127.081
98      124   2.180  48.898        32.175       144.275
99      944   3.139  48.178        31.413       155.835

[100 rows x 5 columns]

## Merge: Right

In [117]:
df_right = pd.merge(df1, df2, how="right", left_index=True, right_index=True, suffixes=(None, "_copy")).drop("name_id_copy", axis=1)
df_right

     name_id  weight  height  weight_at_10  height_at_10
50   636.000   3.643  47.258        33.243       113.963
51   284.000   2.552  47.863        34.665       139.397
52   555.000   5.339  48.939        32.141       137.471
53    57.000   2.687  52.274        32.904       146.507
54   901.000   2.940  52.374        31.156       143.111
..       ...     ...     ...           ...           ...
145      NaN     NaN     NaN        30.014       135.761
146      NaN     NaN     NaN        33.178       130.265
147      NaN     NaN     NaN        32.656       138.030
148      NaN     NaN     NaN        36.089       120.390
149      NaN     NaN     NaN        33.752       127.391

[100 rows x 5 columns]

## Merge: Outer

In [118]:
df_outer = pd.merge(df1, df2, how="outer", left_index=True, right_index=True, suffixes=(None, "_copy")).drop("name_id_copy", axis=1)
df_outer

     name_id  weight  height  weight_at_10  height_at_10
0    906.000   3.444  49.841           NaN           NaN
1    713.000   2.143  51.745           NaN           NaN
2    227.000   3.447  50.557           NaN           NaN
3    980.000   1.985  49.145           NaN           NaN
4    618.000   0.868  49.880           NaN           NaN
..       ...     ...     ...           ...           ...
145      NaN     NaN     NaN        30.014       135.761
146      NaN     NaN     NaN        33.178       130.265
147      NaN     NaN     NaN        32.656       138.030
148      NaN     NaN     NaN        36.089       120.390
149      NaN     NaN     NaN        33.752       127.391

[150 rows x 5 columns]